# -*- mode: Makefile;-*-

include $(REQUIRE_CONFIG)/DEFINES_FT
include $(REQUIRE_CONFIG)/RULES_PATCH
include $(REQUIRE_CONFIG)/RULES_E3_SITELIBS
#include $(REQUIRE_CONFIG)/RULES_EPICS
include $(REQUIRE_CONFIG)/RULES_VARS


ifneq (,$(findstring dev,$(MAKECMDGOALS)))
-include $(REQUIRE_CONFIG)/RULES_DEV
endif


